.poetry {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background: #f0f0f0;
    display: inline-block;
    padding: .3em;
    margin: .05em;
}

body {
    background: #eee;
    background-image: url('/egg-shell.png');
    background-size: 800px;
}
