.poetry {
    border: 1px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background: #fff;
    display: inline-block;
    padding: .3em;
    margin: .05em;
}

#container {
    /*
    background: #eee;
    background-image: url('/egg-shell.png');
     background-image: url('/fridge.jpg');
    background-size: contain;
    */
}
