.poetry {
    border: 1px solid black;
    background: #eee;
    display: inline-block;
    padding: .3em;
    margin: .05em;
    box-shadow: 0 0.1em black;
}

body {
    background: #eeeed9;
    background-image: url('/egg-shell.png');
    background-size: 800px;
}
